version: "3.7"

services:
    nginx_load_balance:
        build: ./
        container_name: nginx_load_balance
        privileged: true
        restart: always
        ports:
            - "80:80"
        volumes:
            - {{frontend_dir}}:/dist