curl -X POST -H "Content-Type: application/json" http://{{ couchDB_user }}:{{ couchDB_password }}@{{ master_ip_address }}:5984/_cluster_setup -d '{{ '{' }}"action": "enable_cluster", "bind_address":"0.0.0.0", "username": "{{ couchDB_user }}", "password":"{{ couchDB_password }}", "port": 5984, "node_count": "{{ cluster_size }}", "remote_node": "{{ ansible_host }}", "remote_current_user": "{{couchDB_user}}", "remote_current_password": "{{couchDB_password}}" {{ '}' }}'
curl -X POST -H "Content-Type: application/json" http://{{ couchDB_user }}:{{ couchDB_password }}@{{ master_ip_address }}:5984/_cluster_setup -d '{{ '{' }}"action": "add_node", "host":"{{ ansible_host }}", "port": 5984, "username": "{{ couchDB_user }}", "password":"{{ couchDB_user }}"{{ '}' }}'