curl -X POST -H "Content-Type: application/json" http://{{ couchDB_user }}:{{ couchDB_password }}@127.0.0.1:5984/_cluster_setup -d '{"action": "enable_cluster", "bind_address":"0.0.0.0", "username": "{{ couchDB_user }}", "password":"{{couchDB_password}}", "node_count":"{{ cluster_size }}"}'