version: "3.7"

services:
  app_db:
    build: .
    restart: always
    ports:
      - "5984:5984"
      - "5986:5986"
      - "4369:4369"
      - "9100-9200:9100-9200"
    volumes:
      - {{ couchDB_data_dir }}:/opt/couchdb/data
    environment:
      - COUCHDB_USER={{ couchDB_user }}
      - COUCHDB_PASSWORD={{ couchDB_password }}
      - COUCHDB_SECRET={{couchDB_cookie}}
      - NODENAME=couchdb@{{ ansible_host }}
    command: "-setcookie {{couchDB_cookie}}"
    container_name: server-couchdb
    