version: "3.7"

services:
    restful_api_server:
        image: mgsweet/server_restful_api_server:latest
        container_name: restful_api_server
        restart: always
        environment:
            - APP_NAME=MyFlaskApp
        expose:
            - 3000
    
    nginx:
        image: mgsweet/server_nginx:latest
        container_name: nginx
        restart: always
        ports:
            - "80:80"
